# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/

# Environnement virtuel
venv/
ENV/
.env

# VS Code
.vscode/
*.code-workspace
.history/

# Fichiers système
.DS_Store
Thumbs.db
.directory

# Javascript / Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Tailwind CSS
/static/css/output.css

# Fichiers de configuration sensibles
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Fichiers de sauvegarde
*~
*.bak
*.swp
*.swo

# Dossiers de cache
.cache/
.pytest_cache/
.coverage
htmlcov/