{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% block title %}ImmoBénin{% endblock %}</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  <link rel="stylesheet" href="{% static '/output.css' %}">
  <script src="{% static 'cdn/htmx.min.js' %}"></script>
  <script src="{% static 'cdn/alpine.min.js' %}" defer></script>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 
  {% tailwind_css %}

 <style type="text/tailwindcss">
    @theme {
      --color-clifford: #da373d;
    }
  </style>
</head>
<body class="bg-gray-50 text-gray-900">

  {% include 'base/navbar.html' %}
  
  <main class="container mx-auto py-8">
    {% block content %}{% endblock %}
  </main>

  {% include 'base/footer.html' %}
</body>
</html>
